NEXT_PUBLIC_APP_URL=http://localhost:3000
NODE_ENV=development

MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/anjaniya
JWT_SECRET=replace-with-a-32-char-secret

FAST2SMS_API_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=ap2
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=ap2
